<form action='/auth/login' id='form' method='post'>
    <h2>Sign in</h2>
    <input id='username' name='username' placeholder='Enter Username'><br/>
    <input id='password' name='password' placeholder='Enter Password'><br/>
    <a href='/view/auth/registration'>Registration</a>
    <button>Login</button>
</form>
<script>
  function getInputValue (id) {
    return document.querySelector(`#${id}`)?.value;
  }
  const element = document.querySelector('#form');
  element.addEventListener('submit', event => {
    event.preventDefault();
    const username = getInputValue('username');
    const password = getInputValue('password');
    fetch('/auth/login', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json; charset=utf-8' }, 
      body: JSON.stringify({ username, password }) 
    }).then(res => res.json()).then((json) => {
      localStorage.setItem('token', json.access_token);
      localStorage.setItem('username', username);
      window.location.href = '/view/users';
    });
  });
</script>