<%- include('userForm', {
    title: 'Create new user',
    user: null,
    buttonText: 'Create',
    action: ''
}) %>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <% if (users.length) { %>
        <% users.map(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.password %></td>
                <td><a href="/view/users/<%= user.id%>">Edit</a></td>
                <td><a href="users/delete/<%= user.id %>">Delete</a></td>
            </tr>
        <% }) %>
    <% } %>
</table>

