<form action="<%= action || '' %>" method="post">
    <h2><%= title %></h2>
    <label for="username">Username</label><br>
    <input name="username" value="<%= user ? user.username : ''%>" required><br/>
    <label for="username">Password</label><br>
    <input name="password" value="<%= user ? user.password : ''%>" required><br/>
    <button type="submit"><%= buttonText %></button>
</form>