<script>
  async function isAuthed() {
    try {
      const token = localStorage.getItem('token');
      if (!token) return false;
      const username = localStorage.getItem('username');
      if (!username) return false;

      const res = await fetch(
        '/auth/user-data', 
        { headers: { "Authorization": `Bearer ${token}` } }).
        then((res) => res.json());
      if (res.username === username) {
        return true;
      }
    } catch (e) {
      return false;
    }
  }

  async function bootstrap() {
    const { location } = window;
    if (!['registration', 'login'].some(el => location.pathname.match(el))) {
      const isAuth = await isAuthed();
      if (!isAuth) window.location = '/';
    }
  }
  bootstrap();
</script>
<%- script %>
<%- body %>